<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matariky.bizservice.assetitm.base.mapper.BasicBaseRfidprintDetailMapper">

<sql id="baseQueryListSql"> 
 SELECT t.id,t.print_id,t.rfid_id,t.epc,t.tid,t.print_time,t.remark,t.create_time,t.update_time,t.delete_time,t.create_by,t.update_by,t.operator_org_code,t.operator_self_org_code
 FROM
    basic_base_rfidprint_detail t 
 WHERE 
    t.delete_time = 0 
 </sql> 
 <sql id="baseQueryCountSql"> 
   SELECT 
    count(1) 
 FROM 
    basic_base_rfidprint_detail t 
 WHERE 
    t.delete_time = 0 
 </sql> 
	<select id="getBasicBaseRfidprintDetailAll" resultType="com.matariky.bizservice.assetitm.base.bean.BasicBaseRfidprintDetail">
        select id,print_id,rfid_id,epc,tid,is_print,print_time,remark,create_time,update_time,delete_time,create_by,update_by,operator_org_code,operator_self_org_code from basic_base_rfidprint_detail
        <where>
            delete_time=0 and print_id=#{printId}
            <if test="epc!=null and epc!=''  ">
                and epc like concat('%',#{epc},'%')
            </if>
            <if test="tid!=null and tid!='' ">
                and tid =#{tid}
            </if>
            <if test="isPrint!=null ">
                and is_print =#{isPrint}
            </if>
            <if test="printTimeStart!=null and printTimeStart!='' ">
                <!--  开始时间检索  -->
                and DATE_FORMAT(FROM_UNIXTIME(print_time / 1000), '%Y-%m-%d %H:%i:%s') &gt;= #{printTimeStart}
            </if>
            <if test="printTimeEnd!=null and printTimeEnd!='' ">
                <!--  结束时间检索  -->
                and DATE_FORMAT(FROM_UNIXTIME(print_time / 1000), '%Y-%m-%d %H:%i:%s')  &lt;= #{printTimeEnd}
            </if>
        </where>
        order by  print_time desc
	</select>


	<select id="getBasicBaseRfidprintDetailAllCount" parameterType="Map" resultType="int">
        select count(1) from basic_base_rfidprint_detail where delete_time=0 
	</select>

	<insert id="createBasicBaseRfidprintDetail" parameterType="com.matariky.bizservice.assetitm.base.bean.BasicBaseRfidprintDetail">
        insert into basic_base_rfidprint_detail(id,print_id,rfid_id,epc,tid,is_print,print_time,remark,create_time,update_time,delete_time,create_by,update_by,operator_org_code,operator_self_org_code)
        values(#{id},#{printId},#{rfidId},#{epc},#{tid},#{isPrint},#{printTime},#{remark},#{createTime},#{updateTime},#{deleteTime},#{createBy},#{updateBy},#{operatorOrgCode},#{operatorSelfOrgCode})
	</insert>

	<update id="updateBasicBaseRfidprintDetail" parameterType="com.matariky.bizservice.assetitm.base.bean.BasicBaseRfidprintDetail">
        update basic_base_rfidprint_detail 
        set tid=#{tid},print_time=#{printTime},update_time=#{updateTime},is_print=1
        where id=#{id}
	</update>

	<update id="delBasicBaseRfidprintDetailById" parameterType="int">
        update  basic_base_rfidprint_detail set delete_time=now() where id=#{value}
	</update>

	<select id="getBasicBaseRfidprintDetailById"  parameterType="java.lang.Long" resultType="com.matariky.bizservice.assetitm.base.bean.BasicBaseRfidprintDetail" >
        select id,print_id,rfid_id,epc,tid,print_time,remark,create_time,update_time,delete_time,create_by,update_by,operator_org_code,operator_self_org_code from basic_base_rfidprint_detail where id=#{value} and delete_time=0
	</select>

<select id="getBasicBaseRfidprintDetailDACCount" parameterType="java.util.Map" resultType="java.lang.Long">
   <if test="params.strategyCode =='1'.toString()">
  <include refid="baseQueryCountSql" />
    <if test="params.selfOrgCode != null and params.selfOrgCode !=''">
       and  t.operator_self_org_code=#{params.selfOrgCode}
    </if>
   <if test="params.tenantId != null and params.tenantId !=''">
     and t.tenant_id  = #{params.tenantId}
 </if>
       <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0">
   or t.operator_self_org_code in
	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
        #{soc}
    </foreach>
    </if>
         <if test="params.sharingOrgCodes != null  and params.sharingOrgCodes.size()>0  ">
        or   t.operator_org_code in 
    	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
            #{oc}
        </foreach>
    </if>
</if>
   <if test=" params.strategyCode =='0'.toString()">
  <include refid="baseQueryCountSql" />
       <if test="params.tenantId != null and params.tenantId !=''">
           and t.tenant_id  = #{params.tenantId}
       </if>
   </if>
   <if test=" params.strategyCode =='2'.toString()">
  <include refid="baseQueryCountSql" />
       <if test="params.orgCode != null and params.orgCode !=''">
        and   t.operator_org_code=#{params.orgCode} 
    </if>
   <if test="params.tenantId != null and params.tenantId !=''">
        and t.tenant_id  = #{params.tenantId}
    </if>
   <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0 ">
            or  t.operator_self_org_code in
    	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
            #{soc}
        </foreach>
   </if>
   <if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0">
             or   t.operator_org_code in
     	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
             #{oc}
         </foreach>
         </if>
 </if>
   <if test=" params.strategyCode =='3'.toString()">
  <include refid="baseQueryCountSql" />
        <if test="params.orgCode != null and params.orgCode !=''">
         and  t.operator_org_code like concat(#{params.orgCode}, '%') 
   		</if>
       <if test="params.tenantId != null and params.tenantId !=''">
         and t.tenant_id  = #{params.tenantId}
       </if>
   	   <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0">
             or   t.operator_self_org_code in
     	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
             #{soc}
         </foreach>
        </if>
   <if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0">
             or t.operator_org_code in
     	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
             #{oc}
         </foreach>
         </if>
 </if>
</select>
<select id="getBasicBaseRfidprintDetailDAC" parameterType="java.util.Map" resultType="com.matariky.bizservice.assetitm.base.bean.BasicBaseRfidprintDetail">
<if test="params.strategyCode =='1'.toString()">
  <include refid="baseQueryListSql" />
   <if test="params.selfOrgCode != null and params.selfOrgCode !=''"> 
       and  t.operator_self_org_code=#{params.selfOrgCode} 
   </if>
   <if test="params.tenantId != null and params.tenantId !=''">
       and t.tenant_id  = #{params.tenantId}
   </if>
   <if test="params.sharingSelfOrgCodes !=null and params.sharingSelfOrgCodes.size()>0">
      union  
  <include refid="baseQueryListSql" />
     <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size()>0">  
      and t.operator_self_org_code in
  	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
        #{soc}
      </foreach>
       </if>
       <if test="params.tenantId != null and params.tenantId !=''">
           and t.tenant_id  = #{params.tenantId}
       </if>
  </if>
  <if test="params.sharingOrgCodes !=null and params.sharingOrgCodes.size()>0">
      union  
  <include refid="baseQueryListSql" />
        <if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0  "> 
         and   t.operator_org_code in
  	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
          #{oc}
       </foreach>
       </if>
       <if test="params.tenantId != null and params.tenantId !=''">
           and t.tenant_id  = #{params.tenantId}
        </if>
    </if>
    <if test="params.orderField != null and params.orderField !=''">
    order by  #{params.orderField}
     </if>
    <if test="params.order != null and params.order !=''">
     #{params.order}
   </if>
 </if>
 <if test=" params.strategyCode =='0'.toString()">
  <include refid="baseQueryListSql" />
    <if test="params.tenantId != null and params.tenantId !=''"> 
       and t.tenant_id  = #{params.tenantId}
    </if>
    <if test="params.orderField != null and params.orderField !=''">
    order by  #{params.orderField}
    </if>
    <if test="params.order != null and params.order !=''">
     #{params.order}
    </if>
</if>
 <if test=" params.strategyCode =='2'.toString()">
  <include refid="baseQueryListSql" />
   <if test="params.orgCode != null and params.orgCode !=''"> 
        and   t.operator_org_code=#{params.orgCode} 
     </if>
     <if test="params.tenantId != null and params.tenantId !=''">
        and t.tenant_id  = #{params.tenantId}
    </if>
     <if test="params.sharingSelfOrgCodes !=null and params.sharingSelfOrgCodes !=''">
      union  
     <include refid="baseQueryListSql" />
        <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0 ">
            and  t.operator_self_org_code in
    	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
           #{soc}
        </foreach>
        </if>
        <if test="params.tenantId != null and params.tenantId !=''">
            and t.tenant_id  = #{params.tenantId}
        </if>
    </if>
    <if test="params.sharingOrgCodes !=null and params.sharingOrgCodes !=''">
      union  
     <include refid="baseQueryListSql" />
         <if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0">
            and   t.operator_org_code in 
    	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
            #{oc}
        </foreach>
        </if>
        <if test="params.tenantId != null and params.tenantId !=''">
            and t.tenant_id  = #{params.tenantId}
        </if>
     </if>
    <if test="params.orderField != null and params.orderField !=''">
    order by  #{params.orderField}
    </if>
    <if test="params.order != null and params.order !=''">
      #{params.order}
    </if>
</if>
<if test=" params.strategyCode =='3'.toString()">
  <include refid="baseQueryListSql" />
     <if test="params.orgCode != null and params.orgCode !=''">
        and  t.operator_org_code like concat(#{params.orgCode}, '%') 
    </if>
    <if test="params.tenantId != null and params.tenantId !=''">
        and t.tenant_id  = #{params.tenantId}
    </if>
     <if test="params.sharingSelfOrgCodes !=null and params.sharingSelfOrgCodes !=''">
      union  
      <include refid="baseQueryListSql" />
        <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0"> 
            and   t.operator_self_org_code in
   	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
           #{soc}
        </foreach>
        </if>
        <if test="params.tenantId != null and params.tenantId !=''">
            and t.tenant_id  = #{params.tenantId}
        </if>
    </if>
     <if test="params.sharingOrgCodes !=null and params.sharingOrgCodes !=''">
      union  
      <include refid="baseQueryListSql" />
       		<if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0">
            and t.operator_org_code in 
    	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
            #{oc}
        </foreach>
        </if>
        <if test="params.tenantId != null and params.tenantId !=''">
           and t.tenant_id  = #{params.tenantId}
        </if>
    </if>
    <if test="params.orderField != null and params.orderField !=''">
    order by  #{params.orderField}
    </if>
    <if test="params.order != null and params.order !=''">
     #{params.order}
   </if>
 </if>
 <if test="params.pageStart != null and params.pageSize != null  ">
     limit #{params.pageStart}, #{params.pageSize}
  </if>
</select>

    <select id="getBasicBaseRfidprintDetailAllById"   parameterType="java.lang.Long" resultType="com.matariky.bizservice.assetitm.base.bean.BasicBaseRfidprintDetail">
        select a.id,a.print_id,a.rfid_id,a.epc,a.tid,a.is_print,a.print_time,a.remark,a.create_time,a.update_time,a.delete_time,a.create_by,a.update_by,a.operator_org_code,a.operator_self_org_code,b.rfid_img,c.od_content,c.qr_content,c.password
        from basic_base_rfidprint_detail a left join basic_base_rfidprint b on a.print_id=b.id left join basic_base_rfid_info c on a.rfid_id=c.id
        where a.print_id=#{value} and a.delete_time=0 order by  a.id
    </select>

    <select id="getBasicBaseRfidprintDetailUnprintById"   parameterType="java.lang.Long" resultType="com.matariky.bizservice.assetitm.base.bean.BasicBaseRfidprintDetail">
        select a.id,a.print_id,a.rfid_id,a.epc,a.tid,a.is_print,a.print_time,a.remark,a.create_time,a.update_time,a.delete_time,a.create_by,a.update_by,a.operator_org_code,a.operator_self_org_code,b.rfid_img,c.od_content,c.qr_content,c.password
        from basic_base_rfidprint_detail a left join basic_base_rfidprint b on a.print_id=b.id left join basic_base_rfid_info c on a.rfid_id=c.id
        where a.print_id=#{value} and a.delete_time=0 and a.is_print=0 order by  a.id
    </select>
</mapper>
