<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matariky.commonservice.base.mapper.BasicBaseDevicecommandPackageMapper">

<sql id="baseQueryListSql">
 SELECT t.id,t.type_id,t.command_id,t.package_id,t.remark,t.create_time,t.update_time,t.delete_time,t.create_by,t.update_by,t.operator_org_code,t.operator_self_org_code,t.tenant_id,t.md5
 FROM
    basic_base_devicecommand_package t
 WHERE
    t.delete_time = 0
 </sql>
 <sql id="baseQueryCountSql">
   SELECT
    count(1)
 FROM
    basic_base_devicecommand_package t
 WHERE
    t.delete_time = 0
 </sql>
	<select id="getBasicBaseDevicecommandPackageAll" parameterType="Map" resultType="com.matariky.commonservice.base.bean.BasicBaseDevicecommandPackage">
        select id,type_id,command_id,package_id,remark,create_time,update_time,delete_time,create_by,update_by,operator_org_code,operator_self_org_code,tenant_id,md5 from basic_base_devicecommand_package t where delete_time=0
	</select>

	<select id="getBasicBaseDevicecommandPackageAllCount" parameterType="Map" resultType="int">
        select count(1) from basic_base_devicecommand_package where delete_time=0
	</select>

	<insert id="createBasicBaseDevicecommandPackage" parameterType="com.matariky.commonservice.base.bean.BasicBaseDevicecommandPackage">
        insert into basic_base_devicecommand_package(id,type_id,command_id,package_id,remark,create_time,update_time,create_by,update_by,
                                                     operator_org_code,operator_self_org_code,tenant_id,md5)
        values(#{id},#{typeId},#{commandId},#{packageId},#{remark},#{createTime},#{updateTime},
               #{createBy},#{updateBy},#{operatorOrgCode},#{operatorSelfOrgCode},#{tenantId},#{md5})
	</insert>

	<update id="updateBasicBaseDevicecommandPackage" parameterType="com.matariky.commonservice.base.bean.BasicBaseDevicecommandPackage">
        update basic_base_devicecommand_package
        set id=#{params.id}
<if test="params.typeId != null ">
        	,type_id=#{params.typeId}
        </if>
<if test="params.commandId != null ">
        	,command_id=#{params.commandId}
        </if>
<if test="params.packageId != null ">
        	,package_id=#{params.packageId}
        </if>
<if test="params.remark != null ">
        	,remark=#{params.remark}
        </if>
<if test="params.createTime != null ">
        	,create_time=#{params.createTime}
        </if>
<if test="params.updateTime != null ">
        	,update_time=#{params.updateTime}
        </if>
<if test="params.deleteTime != null ">
        	,delete_time=#{params.deleteTime}
        </if>
<if test="params.createBy != null ">
        	,create_by=#{params.createBy}
        </if>
<if test="params.updateBy != null ">
        	,update_by=#{params.updateBy}
        </if>
<if test="params.operatorOrgCode != null ">
        	,operator_org_code=#{params.operatorOrgCode}
        </if>
<if test="params.operatorSelfOrgCode != null ">
        	,operator_self_org_code=#{params.operatorSelfOrgCode}
        </if>
<if test="params.tenantId != null ">
        	,tenant_id=#{params.tenantId}
        </if>
<if test="params.md5 != null ">
        	,md5=#{params.md5}
        </if>
        where id = #{params.id} and delete_time=0
	</update>

	<update id="delBasicBaseDevicecommandPackageById" parameterType="int">
        update  basic_base_devicecommand_package set delete_time=now() where id=#{value}
	</update>

	<select id="getBasicBaseDevicecommandPackageById"  parameterType="Integer" resultType="com.matariky.commonservice.base.bean.BasicBaseDevicecommandPackage" >
        select id,type_id,command_id,package_id,remark,create_time,update_time,delete_time,create_by,update_by,operator_org_code,operator_self_org_code,tenant_id,md5 from basic_base_devicecommand_package where id=#{value} and delete_time=0
	</select>

<select id="getBasicBaseDevicecommandPackageDACCount" parameterType="java.util.Map" resultType="java.lang.Long">
   <if test="params.strategyCode =='1'.toString()">
  <include refid="baseQueryCountSql" />
    <if test="params.selfOrgCode != null and params.selfOrgCode !=''">
       and  t.operator_self_org_code=#{params.selfOrgCode}
    </if>
   <if test="params.tenantId != null and params.tenantId !=''">
     and t.tenant_id  = #{params.tenantId}
 </if>
       <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0">
   or t.operator_self_org_code in
	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
        #{soc}
    </foreach>
    </if>
         <if test="params.sharingOrgCodes != null  and params.sharingOrgCodes.size()>0  ">
        or   t.operator_org_code in
    	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
            #{oc}
        </foreach>
    </if>
</if>
   <if test=" params.strategyCode =='0'.toString()">
  <include refid="baseQueryCountSql" />
       <if test="params.tenantId != null and params.tenantId !=''">
           and t.tenant_id  = #{params.tenantId}
       </if>
   </if>
   <if test=" params.strategyCode =='2'.toString()">
  <include refid="baseQueryCountSql" />
       <if test="params.orgCode != null and params.orgCode !=''">
        and   t.operator_org_code=#{params.orgCode}
    </if>
   <if test="params.tenantId != null and params.tenantId !=''">
        and t.tenant_id  = #{params.tenantId}
    </if>
   <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0 ">
            or  t.operator_self_org_code in
    	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
            #{soc}
        </foreach>
   </if>
   <if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0">
             or   t.operator_org_code in
     	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
             #{oc}
         </foreach>
         </if>
 </if>
   <if test=" params.strategyCode =='3'.toString()">
  <include refid="baseQueryCountSql" />
        <if test="params.orgCode != null and params.orgCode !=''">
         and  t.operator_org_code like concat(#{params.orgCode}, '%')
   		</if>
       <if test="params.tenantId != null and params.tenantId !=''">
         and t.tenant_id  = #{params.tenantId}
       </if>
   	   <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0">
             or   t.operator_self_org_code in
     	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
             #{soc}
         </foreach>
        </if>
   <if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0">
             or t.operator_org_code in
     	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
             #{oc}
         </foreach>
         </if>
 </if>
</select>
<select id="getBasicBaseDevicecommandPackageDAC" parameterType="java.util.Map" resultType="com.matariky.commonservice.base.bean.BasicBaseDevicecommandPackage">
<if test="params.strategyCode =='1'.toString()">
  <include refid="baseQueryListSql" />
   <if test="params.selfOrgCode != null and params.selfOrgCode !=''">
       and  t.operator_self_org_code=#{params.selfOrgCode}
   </if>
   <if test="params.tenantId != null and params.tenantId !=''">
       and t.tenant_id  = #{params.tenantId}
   </if>
   <if test="params.sharingSelfOrgCodes !=null and params.sharingSelfOrgCodes.size()>0">
      union
  <include refid="baseQueryListSql" />
     <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size()>0">
      and t.operator_self_org_code in
  	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
        #{soc}
      </foreach>
       </if>
       <if test="params.tenantId != null and params.tenantId !=''">
           and t.tenant_id  = #{params.tenantId}
       </if>
  </if>
  <if test="params.sharingOrgCodes !=null and params.sharingOrgCodes.size()>0">
      union
  <include refid="baseQueryListSql" />
        <if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0  ">
         and   t.operator_org_code in
  	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
          #{oc}
       </foreach>
       </if>
       <if test="params.tenantId != null and params.tenantId !=''">
           and t.tenant_id  = #{params.tenantId}
        </if>
    </if>
    <if test="params.orderField != null and params.orderField !=''">
    order by  #{params.orderField}
     </if>
    <if test="params.order != null and params.order !=''">
     #{params.order}
   </if>
 </if>
 <if test=" params.strategyCode =='0'.toString()">
  <include refid="baseQueryListSql" />
    <if test="params.tenantId != null and params.tenantId !=''">
       and t.tenant_id  = #{params.tenantId}
    </if>
    <if test="params.orderField != null and params.orderField !=''">
    order by  #{params.orderField}
    </if>
    <if test="params.order != null and params.order !=''">
     #{params.order}
    </if>
</if>
 <if test=" params.strategyCode =='2'.toString()">
  <include refid="baseQueryListSql" />
   <if test="params.orgCode != null and params.orgCode !=''">
        and   t.operator_org_code=#{params.orgCode}
     </if>
     <if test="params.tenantId != null and params.tenantId !=''">
        and t.tenant_id  = #{params.tenantId}
    </if>
     <if test="params.sharingSelfOrgCodes !=null and params.sharingSelfOrgCodes !=''">
      union
     <include refid="baseQueryListSql" />
        <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0 ">
            and  t.operator_self_org_code in
    	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
           #{soc}
        </foreach>
        </if>
        <if test="params.tenantId != null and params.tenantId !=''">
            and t.tenant_id  = #{params.tenantId}
        </if>
    </if>
    <if test="params.sharingOrgCodes !=null and params.sharingOrgCodes !=''">
      union
     <include refid="baseQueryListSql" />
         <if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0">
            and   t.operator_org_code in
    	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
            #{oc}
        </foreach>
        </if>
        <if test="params.tenantId != null and params.tenantId !=''">
            and t.tenant_id  = #{params.tenantId}
        </if>
     </if>
    <if test="params.orderField != null and params.orderField !=''">
    order by  #{params.orderField}
    </if>
    <if test="params.order != null and params.order !=''">
      #{params.order}
    </if>
</if>
<if test=" params.strategyCode =='3'.toString()">
  <include refid="baseQueryListSql" />
     <if test="params.orgCode != null and params.orgCode !=''">
        and  t.operator_org_code like concat(#{params.orgCode}, '%')
    </if>
    <if test="params.tenantId != null and params.tenantId !=''">
        and t.tenant_id  = #{params.tenantId}
    </if>
     <if test="params.sharingSelfOrgCodes !=null and params.sharingSelfOrgCodes !=''">
      union
      <include refid="baseQueryListSql" />
        <if test="params.sharingSelfOrgCodes != null and params.sharingSelfOrgCodes.size() >0">
            and   t.operator_self_org_code in
   	 <foreach item="soc" collection="params.sharingSelfOrgCodes" open="(" separator="," close=")">
           #{soc}
        </foreach>
        </if>
        <if test="params.tenantId != null and params.tenantId !=''">
            and t.tenant_id  = #{params.tenantId}
        </if>
    </if>
     <if test="params.sharingOrgCodes !=null and params.sharingOrgCodes !=''">
      union
      <include refid="baseQueryListSql" />
       		<if test="params.sharingOrgCodes != null and params.sharingOrgCodes.size()>0">
            and t.operator_org_code in
    	 <foreach item="oc" collection="params.sharingOrgCodes" open="(" separator="," close=")">
            #{oc}
        </foreach>
        </if>
        <if test="params.tenantId != null and params.tenantId !=''">
           and t.tenant_id  = #{params.tenantId}
        </if>
    </if>
    <if test="params.orderField != null and params.orderField !=''">
    order by  #{params.orderField}
    </if>
    <if test="params.order != null and params.order !=''">
     #{params.order}
   </if>
 </if>
 <if test="params.pageStart != null and params.pageSize != null  ">
     limit #{params.pageStart}, #{params.pageSize}
  </if>
</select>
</mapper>
