<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matariky.commonservice.base.mapper.BasicBaseAppVersionMapper">


    <select id="getBasicBaseAppversionAll" parameterType="com.matariky.commonservice.base.vo.BasicBaseAppVersionQueryVO"
            resultType="com.matariky.commonservice.base.vo.BasicBaseAppVersionListVO">
        select a.id,a.app_name, a.version_name, a.version_no,
        a.upgrade_type,a.version_content,a.upgrade_file,a.download_qrcode,a.is_force_updates,a.remark,a.create_time,
        a.update_time,a.delete_time,a.create_by,a.update_by,a.operator_org_code,a.operator_self_org_code , u.real_name
        from basic_base_appversion a left join user_user u on a.update_by = u.id
        <where>
            a.delete_time = 0
            <if test="params.versionNo!=null and params.versionNo!='' ">
                and a.version_no like concat('%', #{params.versionNo} ,'%')
            </if>
        </where>
        order by a.create_time desc
    </select>


    <insert id="createBasicBaseAppversion" parameterType="com.matariky.commonservice.base.bean.BasicBaseAppVersion">
        insert into basic_base_appversion(id, app_name, version_name, version_no, upgrade_type, version_content,
                                          upgrade_file, download_qrcode, is_force_updates, remark, create_time,
                                          update_time, create_by, update_by, operator_org_code, operator_self_org_code,
                                          tenant_id)
        values (#{id}, #{appName}, #{versionName}, #{versionNo}, #{upgradeType}, #{versionContent}, #{upgradeFile},
                #{downloadQrcode}, #{isForceUpdates}, #{remark}, #{createTime}, #{updateTime}, #{createBy}, #{updateBy},
                #{operatorOrgCode}, #{operatorSelfOrgCode}, #{tenantId})
    </insert>

    <update id="updateBasicBaseAppversion" parameterType="com.matariky.commonservice.base.bean.BasicBaseAppVersion">
        update basic_base_appversion
        set app_name=#{appName},
            version_name=#{versionName},
            version_no=#{versionNo},
            upgrade_type=#{upgradeType},
            version_content=#{versionContent},
            upgrade_file=#{upgradeFile},
            download_qrcode=#{downloadQrcode},
            is_force_updates=#{isForceUpdates},
            remark=#{remark},
            create_time=#{createTime},
            update_time=#{updateTime},
            delete_time=#{deleteTime},
            create_by=#{createBy},
            update_by=#{updateBy},
            operator_org_code=#{operatorOrgCode},
            operator_self_org_code=#{operatorSelfOrgCode}
        where id = #{id}
          and delete_time = 0
    </update>

    <update id="delBasicBaseAppversionById" parameterType="java.lang.Long">
        update basic_base_appversion
        set delete_time=now()
        where id = #{value}
    </update>

    <select id="getBasicBaseAppversionById" parameterType="Integer"
            resultType="com.matariky.commonservice.base.bean.BasicBaseAppVersion">
        select id,
               app_name,
               version_name,
               version_no,
               upgrade_type,
               version_content,
               upgrade_file,
               download_qrcode,
               is_force_updates,
               remark,
               create_time,
               update_time,
               delete_time,
               create_by,
               update_by,
               operator_org_code,
               operator_self_org_code
        from basic_base_appversion
        where id = #{value}
          and delete_time = 0
    </select>


    <select id="getBasicBasePrintApp" resultType="com.matariky.commonservice.base.bean.BasicBaseAppVersion">
        select *
        from basic_base_appversion
        where delete_time = 0
          and app_name = '打印机APP'
        order by create_time desc limit 1
    </select>

</mapper>
